.c {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

section {
    text-align: center;
}

.bt {
    width: 300px;
    height: 100px;
    margin-left: 40%;
}

.bo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px  #e2c565;
    border-style: groove;
    border-width: 2px;
    font-size: 24px;
    border-radius: 1.5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 50px;
    
}

.bd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode'
    , 'Lucida Grande', 'Lucida Sans', Arial
    , sans-serif;
}

.reset {
    width: 200px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: black;
    border-color: #e2c565;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
    , 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}


.gameStatus {
    font-size: 50px;
    text-align: center;
}


h1 {
    font-size: 50px;
}